@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
	display: block;
}

html {
	font-family: "Manrope", sans-serif;
  	font-weight: 800;
	font-size: 28px;
	color: var(--color-light-cyan);
}

:root {
	--color-light-cyan: hsl(193, 38%, 86%);
	--color-neon-green: hsl(150, 100%, 66%);
	--color-grayish-blue: hsl(217, 19%, 38%);
	--color-dark-grayish-blue: hsl(217, 19%, 24%);
	--color-dark-blue: hsl(218, 23%, 16%);
}

body {
	background-color: var(--color-dark-blue);
	height: 100vh;
}

.card {
	--margin-top: clamp(.5rem, 30vw, 4.5rem);

	position: relative;;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	width: 90%;
	max-width: 25rem;
	border-radius: .3rem;
	margin: var(--margin-top) auto 0 auto;
	background-color: var(--color-dark-grayish-blue);
	container: card / inline-size;
	row-gap: clamp(.2rem, 4vw, 1rem);
	padding: clamp(.2rem, 10vw, 1.5rem) clamp(.2rem, 5vw, 1rem) clamp(.2rem, 15vw, 2.5rem) clamp(.2rem, 5vw, 1rem);
	container: card / inline-size;
}

.advice-line {
	color: var(--color-neon-green);
	font-size: clamp(.1rem, 4cqi, .4rem);
	text-transform: uppercase;
	letter-spacing: .3em;
}

.advice-text {
	text-align: center;
	font-size: clamp(.2rem, 10cqi, 1rem);
}

.divider {
	width: 90%;
}

.divider-desktop {
	display: none;
}

.dice-button {
	position: absolute;
	bottom: -4cqh;
	/* bottom: -1.2rem; */
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-neon-green);
	width: clamp(.5em, 28cqi, 2.5em);
	aspect-ratio: 1/1;
	border-radius: 50%;
	cursor: pointer;
}

.dice-button img {
	width: 40%;
}

.dice-button:hover {
	box-shadow: 0px 0px 30px var(--color-neon-green);
}

@media (min-width: 500px) {
	.divider {
		display: none;
	}

	.divider-desktop {
		display: block;
	}

	.card {
		margin-top: 0;
	}
		
	body {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}